<DOCTYPE html>
<html>
<head>
  <h1>DiceWare Simulator</h1>
  <a href="/dice">Generate PassCode</a>
  <a href="/about">About</a>
  <link rel="stylesheet" href="{{css_file}}">
  <style>
  a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
</style>
</head>
<body>
{{{body}}}
<p> Generated PassPhrase: </p>
<mark>{{word}}</mark><br><br>
<p3> {{nums}} </p3><br>
<p4> {{names}} </p4>
</body>
</html>
